:root {
  --clr-primary: 193, 43%, 67%;
  --clr-neutral-200: 218, 27%, 94%;
  --clr-neutral-300: 218, 27%, 92%;
  --clr-neutral-400: 219, 28%, 88%;
  --clr-neutral-600: 220, 16%, 36%;
  --clr-neutral-700: 220, 17%, 32%;
  --clr-neutral-800: 222, 16%, 28%;
  --clr-neutral-900: 220, 16%, 22%;
  --ff-sans: Ubuntu, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: hsl(var(--clr-neutral-900));
  color: hsl(var(--clr-neutral-200));
  font-family: var(--ff-sans);
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
